/* Header */
.header {
    position: fixed;
    top: 30px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
}

.header .inner-wrap {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 40px;
    padding: 20px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* .header .inner-wrap .inner-logo {
    margin-right: 100px;
} */

.header .inner-wrap .inner-logo img {
    max-height: 40px;
}

.header .inner-wrap .inner-logo a:focus {
    outline: none;
    border: none;
}

.header .inner-wrap .inner-menu {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
}

.header .inner-wrap .inner-item a{
    font-size: 13px;
    color: #3B566E;
    white-space: nowrap;
    
}

.header .inner-wrap .inner-item a:hover {
    text-decoration: none;
    color: var(--color-text-2);
}

/* .header .inner-wrap .inner-item:nth-child(1) a {
    color: var(--color-text-2);
} */

.header .inner-icon-mobi {
    display: none;
}

@media (max-width:991.8px) {
    .header .inner-icon-mobi {
        display: block;
        font-size: 30px;
    }

    .header .inner-wrap .inner-menu {
        display: none;

    }

    .header .inner-wrap {
        justify-content: space-between;
    }
}

/* End Header */

/* Box head */
.box-head .inner-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.box-head .inner-desc {
    font-size: 15px;
}

/* End Box End */

/* Button */

.button {
    border-radius: 40px;
    background-color: var(--color-text-2);
    padding: 7px 18px;
    border: 1px solid var(--color-text-2);
    color: #FFFFFF;
    font-size: 14px;
}

.button:hover {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
}

.button-2 {
    background-color: #8261EE;
    border: 1px solid #8261EE;
    /* display: inline-block; */
    padding: 10px 18px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.button-2:hover {
    background-color: var(--color-text-2);
    border: 1px solid var(--color-text-2);
}

/* End Button */

/* Welcome */
.welcome {
    background-image: url("../images/banner-bg.png");
    background-size: cover;
    background-position: center;
    min-height: 600px;
    padding-top: 160px;
}

.welcome .box-head .inner-title {
    color: #FFFFFF;
}

.welcome .box-head .inner-desc {
    color: #FFFFFF;
}

.welcome .button {
    margin-top: 30px;
}

/* @media (max-width: 768px) {
    .box-head .inner-title {
        font-size: 20px;
    }

    .box-head .inner-desc {
        font-size: 12px;   
    }
} */

/* End Welcome */

/* Criteria */
.criteria {
    margin-top: -200px;
}

.criteria .inner-box {
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 40px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
}

.criteria .inner-box:hover .inner-logo {
    background-color: var(--color-text-2);
}

.criteria .inner-box .inner-logo {
    background-color: var(--bg-color);
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.criteria .inner-box .inner-logo img {
    width: 100%;
}

.criteria .inner-box .inner-title {
    color: #1E1E1E;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

.criteria .inner-box .inner-desc {
    text-align: center;
    font-size: 12px;
}


@media (max-width: 991.8px) {
    .criteria {
        margin-top: -50px;
    }
} 

/* End Criteria */

/* Discuss */
.discuss {
    margin-top: 60px;
}

.discuss .inner-image {
    text-align: center;
    margin-bottom: 20px;
}


.discuss .box-head .inner-title {
    color: #1E1E1E;
    font-size: 28px;
    font-weight: 450;
    margin-bottom: 20px;
}

.discuss .box-head .inner-desc {
    font-size: 18px;
}


.discuss .row {
   /* align-items: center; */
   flex-wrap: wrap;
}


@media (max-width:768px) {
    .discuss .box-head .inner-title {
        font-size: 24px;
    }

    .discuss .box-head .inner-desc {
        font-size: 14px;
    }
}

/* End Discuss */

/* Under discuss */
.under-discuss {
    margin-top: 80px;
    margin-bottom: 60px;
}

.under-discuss .inner-image {
    text-align: center;
    margin-bottom: 20px;
}


.under-discuss .box-head .inner-title {
    color: #1E1E1E;
    font-size: 28px;
    font-weight: 450;
    margin-bottom: 20px;
}

.under-discuss .box-head .inner-desc {
    font-size: 18px;
}

.under-discuss .row {
   /* align-items: center; */
   flex-wrap: wrap;
}

.under-discuss .box-head {
    margin-bottom: 30px;
}

@media (max-width:768px) {
    .under-discuss .box-head .inner-title {
        font-size: 24px;
    }

    .under-discuss .box-head .inner-desc {
        font-size: 14px;
    }
}

/* End Under discuss */

/* Work process */
.work-process{
    background-image: url(../images/work-process.png);
    background-repeat: no-repeat;
    background-size: cover;
}

 .work-process .box-head .inner-title {
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
}

.work-process .box-head .inner-desc {
    color: #FFFFFF;
    text-align: center;
}

.work-process .box-head {
    margin-bottom: 50px;
}

.work-process .inner-box {
    display: block;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
    text-align: center;
    z-index: 1;
    /* height: 100%; */
}

.work-process .inner-box .inner-icon i {
    font-size: 30px;
    color: #C093E4;
    
}

.work-process .row:nth-child(2) {
    padding-bottom: 100px;
}

.work-process .inner-box .inner-icon {
    margin-bottom: 10px;
}

.work-process .inner-box .inner-title {
    color: #1E1E1E;
    font-size: 18px;
    min-height: 40px;
}

.work-process .inner-box .inner-desc {
    font-size: 14px;
    color: var(--color-text);
    min-height: 30px;
} 

.work-process .inner-box::before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #fff;
    width: 100%;
    opacity: .15;
    height: 100%;
    bottom: -10px;
    left: 0px;
    right: -20px;
    margin: auto;
    border-radius: 20px;
}


/* End Work process */

/* Feed back */
.feed-back {
    padding: 80px 0;
}

.feed-back .box-head {
    text-align: center;
    margin-bottom: 40px;
}

.feed-back .box-head .inner-title {
    color: #1E1E1E;
    font-weight: 450;
}

.feed-back .box-head .inner-desc {
    color: var(--color-text-3);
}

.feed-back .inner-box {
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.feed-back .inner-box .inner-icon {
    text-align: center;
    margin-bottom: 20px;
}

.feed-back .inner-box .inner-desc {
    color: var(--color-text-3);
    font-size: 15px;
    margin-bottom: 20px;
    text-align: left;
    flex: 1;
}

.feed-back .inner-box .inner-name {
    font-size: 17px;
    color: #1E1E1E;
}

.feed-back .inner-box .inner-position {
    font-size: 16px;
    color: var(--color-text-2);
}

.feed-back .inner-box .inner-name-wrapper {
    text-align: center;
}

/* End Feed back */

/* Pricing plans */
.pricing-plans {
    padding: 80px 0;
}

.pricing-plans .box-head {
    text-align: center;
    margin-bottom: 40px;
}

.pricing-plans .box-head .inner-title {
    color: #1E1E1E;
    font-weight: 450;
}

.pricing-plans .box-head .inner-desc {
    color: var(--color-text-3);
}

.pricing-plans .inner-box {
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pricing-plans .inner-box .inner-title {
    color: #1E1E1E;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.pricing-plans .inner-box .inner-price {
    text-align: center;
    background-color: var(--bg-color);
    padding: 20px 75px;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
    margin: 0 auto 30px;

}

.pricing-plans .inner-box.featured .inner-price {
    background-color: var(--color-text-2);
}

.pricing-plans .inner-box .inner-price .price {
    color: #fff;
    font-size: 28px;
}

.pricing-plans .inner-box .inner-price .time {
    color: #fff;
    font-size: 14px;
}

.pricing-plans .inner-box .inner-desc {
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-text-3);
}

.pricing-plans .inner-box .inner-desc ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.pricing-plans .inner-box .inner-desc ul li {
    margin-bottom: 10px;
    font-size: 13px;
    text-decoration: line-through;
    color: #999;
}

.pricing-plans .inner-box .inner-desc ul li.active {
    text-decoration: none;
    color: var(--color-text-3);
}


/* End Pricing plans */


/* Achievement */
.achievement {
    overflow: hidden;
    position: relative;

}


.achievement::before {
    content: '';
    position: absolute;
    height: 140%;
    width: 140%;
    background-image: url(../images/achievement.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 2;
    top: -20%;
    left: -20%;
}

.achievement .content {
    position: relative;
    z-index: 3;
    width: 100%;
}

.achievement .content .inner-item {
    height: 340px;
    float: left;
    width: 100%;
   
}

.achievement .content .inner-item strong {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 120px;
    transition: all 0.3s ease 0s;
}

.achievement .content .inner-item span {
    color: #fff;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
}

.achievement .content .inner-item.decoration-bottom::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    top: 160px;
    left: 70%;
    background: url(../images/circle-dec.png) center center no-repeat;
    transition: all 0.3s ease 0s;
}

@media (max-width:991.8px) {
    .achievement .content .inner-item.decoration-bottom::after {
        display: none;
    }
    .achievement .content .inner-item {
        height: 180px;
    }

    .achievement .content .inner-item strong {
        margin-top: 50px;
    }

}

@media (max-width:767.8px) {
    .achievement .content .inner-item {
        height: 150px;
    }
}

/* End Achievement */

/* Blog Entries */
.blog-entries {
    padding: 80px 0;
}

.blog-entries .box-head {
    text-align: center;
    margin-bottom: 30px;
}

.blog-entries .box-head .inner-title {
    color: #1E1E1E;
    font-weight: 500;
}

.blog-entries .box-head .inner-desc {
    color: var(--color-text-3);
}

.blog-entries .inner-box {
    text-align: center;
}

.blog-entries .inner-box img {
    width: 100%;
    margin-bottom: 20px;
}

.blog-entries .inner-box .inner-title {
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;

}

.blog-entries .inner-box .inner-title:hover {
    color: var(--color-text-2);
   
}

.blog-entries .inner-box .inner-desc {
    margin-top: 20px;
    font-size: 13px;
    color: var(--color-text-3);
    margin-bottom: 20px;
}

.blog-entries .button-2 {
    padding: 14px 18px;
}



/* End Blog Entries */


/* Talk to us */
.talk-to-us {
    background-color: #F2F2FE;
    padding: 100px 0;
}

.talk-to-us .box-head {
    text-align: center;
    margin-bottom: 40px;
}

.talk-to-us .box-head .inner-title {
    color: #1E1E1E;
    font-weight: 500;
}

.talk-to-us .box-head .inner-desc {
    color: var(--color-text-3);
}

.talk-to-us .inner-content .title {
    color: #1E1E1E;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}

.talk-to-us .inner-content .content-1 {
    font-size: 14px;
    margin-bottom: 30px;
}

.talk-to-us .inner-content .content-2 {
    font-size: 14px;

}

.talk-to-us .inner-form .inner-name {
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    color: #777;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    appearance: none;
    margin-bottom: 30px;
}

.talk-to-us .inner-form .inner-email {
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    color: #777;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    appearance: none;
    margin-bottom: 30px;
}

.talk-to-us .inner-form .inner-msg {
    font-size: 14px;
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    outline: none;
    height: 150px;
    resize: none;
    padding: 20px;
    border-radius: 25px;
    appearance: none;
    margin-bottom: 30px;
}

.talk-to-us .button-2 {
    padding: 14px 18px;
}


/* End Talk to us */

/* Footer */
.footer {
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    padding-top: 30px;
}

.footer .social {
    list-style: none;
    display: flex;
    justify-content: center; /* căn giữa ngang */
    gap: 20px;
    padding: 0;
    margin: 10px 0 0;
}

.footer .social li i {
    font-size: 26px;
    color: #9d5bd9;
    text-align: center;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
}

.footer .social li i:hover {
    background-color: var(--color-text-2);
    color: #fff;
}

.footer .inner-liscen {
    text-align: center;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}
/* End Footer */